<!doctype html>
<html>
    <head>
        <title>
            {{ the_title }} <!--директива jinja2 указывает что значение будет вставлено
            перед отправкой страницы-->
        </title>
        <link rel="stylesheet" href="static/hf.css" /> <!--опрпделяем таблицу стилей-->
    </head>
    <body>
        {% block body %}    <!--директивы jinja2 указывют что сюда будет вставлен блок HTML
        который определяется страничкой, наследующей шаблон-->

        {% endblock %}
    </body>
</html>